{% extends "base.html" %} {% block content %}

<div class="chat-container h-75">
  <div class="chat-header">Chat Page</div>
  <div class="chat-messages">
    <div class="message">Hello!</div>
    <div class="message me">Hi there!</div>
    <div class="message">how is SOEN 357?</div>
    <div class="message me">We learn cool!</div>
  </div>
  <div class="chat-form">
    <input
      type="text"
      class="chat-input"
      placeholder="Type your message here"
    />
    <button class="chat-submit">Send</button>
  </div>
</div>
<div class="contacts-container">
  <div class="contacts-header">Contacts</div>
  <ul class="contacts-list">
    <li>John</li>
    <li>Jane</li>
    <li>Mark</li>
    <li>Lucy</li>
  </ul>
</div>

{% endblock content %}
