{% extends "base.html" %}
{% block content %}
	<h1 class="mb-2">{{ title }}</h1>
	<h2 class="article-metadata pb-2 mb-4">Instructor: {{ course.teacher }}</h2>
	<article class="media content-section">
		<div class="media-body pb-2">
			<div class="article-metadata">
				<h2>Lectures</h2>
			</div>
			{% for lec in course.lectures %}
				<p class="article-content">
					<a href="{{ url_for('static', filename='lectures/' + lec.upload_file) }}">{{ lec.name }}</a>
				</p>
			{% endfor %}
		</div>
	</article>
	<article class="media content-section">
		<div class="media-body pb-2">
			<div class="article-metadata">
				<h2>Assignments</h2>
			</div>
			{% for assignment in course.assignments %}
				<p class="article-content">
					{{ assignment.name }}, Due {{ assignment.date_due.strftime('%Y-%m-%d') }}:
					<a href="{{ url_for('static', filename='assignments/' + assignment.upload_file) }}">{{ assignment.upload_file }}</a>
				</p>
			{% endfor %}
		</div>
	</article>

{% endblock content %}